@font-face {
  font-family: "Sharp Grotesk";
  font-display: auto;
  src: url("SharpGroteskSmBold15.woff") format("woff"),
    url("SharpGroteskSmBold15.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Sharp Grotesk";
  font-display: auto;
  src: url("SharpGroteskSmBoldItalic15.woff") format("woff"),
    url("SharpGroteskSmBoldItalic15.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Sharp Grotesk";
  font-display: auto;
  src: url("SharpGroteskMedium20.woff") format("woff"),
    url("SharpGroteskMedium20.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Sharp Grotesk";
  font-display: auto;
  src: url("SharpGroteskMediumItalic20.woff") format("woff"),
    url("SharpGroteskMediumItalic20.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Sharp Grotesk";
  font-display: auto;
  src: url("SharpGroteskBook20.woff") format("woff"),
    url("SharpGroteskBook20.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Sharp Grotesk";
  font-display: auto;
  src: url("SharpGroteskBookItalic20.woff") format("woff"),
    url("SharpGroteskBookItalic20.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Sharp Grotesk";
  font-display: auto;
  src: url("SharpGroteskLight20.woff") format("woff"),
    url("SharpGroteskLight20.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Sharp Grotesk";
  font-display: auto;
  src: url("SharpGroteskLightItalic20.woff") format("woff"),
    url("SharpGroteskLightItalic20.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
